@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.video-history {
  @include responsive-container;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: margin-top $transition-quick;
} 